body {
  padding-top: 20px;
}

#recipe-results .recipe-card{
  display: inline-block;
}

nav .nav{
  padding-top: 0;
  margin-top: 0;
}

.logo{
  text-align: center;
}
.logo img{
  width: 200px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

.tabs .indicator {
  background-color: #26a69a;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}

.weather-icon {
  font-size: 4rem;
}

.animated {
  animation-duration: 1s;
}
