/* General Styles */
body {
  padding-top: 0px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* Navigation */
nav .nav {
  padding-top: 0;
  margin-top: 0;
}

.logo {
  text-align: center;
}

.logo img {
  width: 400px;
}

/* Recipe Cards */
.recipe-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recipe-card {
  background-color: #ebbbb9;
  border: 1px solid #de6959;
  border-radius: 4px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.recipe-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 4px;
  margin-bottom: 10px;
}

.recipe-title {
  font-size: 16px;
  margin-bottom: 10px;
}

.recipe-ingredients {
  margin-top: 5px;
  font-size: 14px;
}

/* Tabs */
.tabs .indicator {
  background-color: #26a69a;
}

.tabs .tab a:focus,
.tabs .tab a:focus.active {
  background-color: transparent;
}

/* Weather Icon */
.weather-icon {
  font-size: 4rem;
}

/* Animations */
.animated {
  animation-duration: 1s;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.modal-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.modal-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal-ingredients {
  list-style: none;
  padding: 0;
  margin-bottom: 10px;
}

.modal-ingredients li {
  margin-bottom: 5px;
}

.modal button {
  background-color: #eee;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

/* Added Styles for Search Input Boxes */
.search-input {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
}

.search-input input[type="text"],
.search-input button {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  padding: 10px 20px;
  border: none;
  border-radius: 30px;
  transition: box-shadow 0.3s ease-in-out;
}

.search-input input[type="text"] {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(237, 101, 96, 0.3);
  width: 200px;
  padding-left: 35px; /* Added padding to accommodate the search memo */
}

.search-input button {
  background-color: #8bcbc5;
  color: #fff;
  box-shadow: 0 0 10px rgba(237, 101, 96, 0.3);
  cursor: pointer;
  border-radius: 30px; /* Added border-radius for rounded shape */
  padding: 10px 20px; /* Adjusted padding to match search box */
  margin-left: 5px; /* Adjusted margin to position the button */
  border: none; /* Removed border */
}

.search-input input[type="text"]:focus,
.search-input button:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(237, 101, 96, 0.3);
}

.search-input button:hover {
  background-color: #26a69a;
}

/* Centering the Calendar */
.row.drop {
  justify-content: center;
}

/* Adjusting the Weekday Spacing */
.row.drop .col.s3 {
  flex-basis: 14%;
  margin-right: 10px;
  margin-left: 10px;
}

.row.drop .card {
  width: 100%;
}

.row.drop .card:not(:first-child) {
  margin-left: 10px;
}

/* Custom Styles for Days of the Week */
.row.drop .card-title {
  font-family: "ArialMonaco", sans-serif;
  font-size: 18px;
  color: #26a69a; /
}